
<div class="containers">
      <mat-card><section class="container content-wrapper">
                  <nav id="navtext" class="navbar navbar-expand"><i class="fas fa-folder"></i>&nbsp;Latest Movies</nav>
                  </section>
                  </mat-card>
        <mat-card>
    <div class="cards" *ngFor="let movie of movieArr | filter:nameSearch">
        <div class="card">
          
                <img class="card__image" src="/assets/antman.jpg" alt="Dear Comrade" >
                <div class="contain">{{movie.name}}</div>
              
        </div>
        <div class="card">
                <img class="card__image" src="/assets/war.jpg" alt="war">
                <div class="contain">War 2020 Hindi Dubbed 1080p WEBRip 2.9GB</div>
              </div>
             
        <div class="card">
                <img class="card__image" src="/assets/housefull4.jpg" alt="housefull4">
                <div class="contain">Housefull 4 2020 Hindi Dubbed 1080p WEBRip 2.9GB</div>
              </div>
             
        <div class="card">
                <img class="card__image" src="/assets/thedarkknight.jpg" alt="thedarkknight">
                <div class="contain">The Dark Knight 2020 Hindi Dubbed 1080p WEBRip 2.9GB</div>
              </div>
             
        <div class="card">
                <img class="card__image" src="/assets/antman.jpg" alt="antman">
                <div class="contain">Antman 2020 Hindi Dubbed 1080p WEBRip 2.9GB</div>
                    
              </div>
             
        <div class="card">
                <img class="card__image" src="/assets/fastandfurious.jpg" alt="fastandfurious">
                <div class="contain">Fast And Furious 2020 Hindi Dubbed 1080p WEBRip 2.9GB</div>
               
              </div>
             
        <div class="card">
                <img class="card__image" src="/assets/xmen.jpg" alt="xmen">
                <div class="contain">Xmen 2020 Hindi Dubbed 1080p WEBRip 2.9GB</div>
              </div>
             
        <div class="card">
                <img class="card__image" src="/assets/xmen.jpg" alt="xmen">
                <div class="contain">Xmen 2020 Hindi Dubbed 1080p WEBRip 2.9GB</div>
              </div>
              <div class="card">
                <img class="card__image" src="/assets/spiderman.jpg" alt="spiderman">
                <div class="contain">Spiderman 2020 Hindi Dubbed 1080p WEBRip 2.9GB</div>
              </div>
        <div class="card">
                <img class="card__image" src="/assets/antman.jpg" alt="antman">
                <div class="contain">Antman 2020 Hindi Dubbed 1080p WEBRip 2.9GB</div>
              </div>
             
            
        <div class="card">
                <img class="card__image" src="/assets/war.jpg" alt="war">
                <div class="contain">War 2020 Hindi Dubbed 1080p WEBRip 2.9GB</div>        
                
              </div>
             
        <div class="card">
                <img class="card__image" src="/assets/thedarkknight.jpg" alt="thedarkknight">
                <div class="contain">The Dark Knight 2020 Hindi Dubbed 1080p WEBRip 2.9GB</div>
              </div>
             
        <div class="card">
                <img class="card__image" src="/assets/godzilla.jpg" alt="godzilla">
                <div class="contain">Godzilla 2020 Hindi Dubbed 1080p WEBRip 2.9GB</div>
              </div>
             
        <div class="card">
                <img class="card__image" src="/assets/kabirsingh.jpg" alt="kabirsingh">
                <div class="contain">kabirsingh 2020 Hindi Dubbed 1080p WEBRip 2.9GB</div>
              </div>
             
        
             
        <div class="card">
                <img class="card__image" src="/assets/avengers.jpg" alt="avengers">
              <div class="contain">Avengers 2020 Hindi Dubbed 1080p WEBRip 2.9GB</div>
              </div>
        <div class="card">
               <img class="card__image" src="/assets/annabelle.jpg" alt="annabella">
               <div class="contain">Annabella 2020 Hindi Dubbed 1080p WEBRip 2.9GB</div>
              </div>
        <div class="card">
               <img class="card__image" src="/assets/housefull4.jpg" alt="housefull4">
               <div class="contain">Housefull 4 2020 Hindi Dubbed 1080p WEBRip 2.9GB</div>
              </div>
        <div class="card">
               <img class="card__image" src="/assets/xmen.jpg" alt="xmen">
               <div class="contain">Xmen 2020 Hindi Dubbed 1080p WEBRip 2.9GB</div>
              
              </div>
        <div class="card">
               <img class="card__image" src="/assets/antman.jpg" alt="antman">
               <div class="contain">Antman 2020 Hindi Dubbed 1080p WEBRip 2.9GB</div>
              </div>
        <div class="card">
               <img class="card__image" src="/assets/annabelle.jpg" alt="annabella">
               <div class="contain">Annabella 2020 Hindi Dubbed 1080p WEBRip 2.9GB</div>
              </div>
    
        <div class="card">
               <img class="card__image" src="/assets/spiderman.jpg" alt="spiderman">
               <div class="contain">Spiderman 2020 Hindi Dubbed 1080p WEBRip 2.9GB</div>
              </div>
        <div class="card">
               <img class="card__image" src="/assets/godzilla.jpg" alt="dearcomrade">
               <div class="contain">Dear Comrade 2020 Hindi Dubbed 1080p WEBRip 2.9GB</div>
              </div>

        </div>
        </mat-card>
      </div>
